{% extends "layout.html" %}

{% load static %}

{% block title %} Login | JoyJunction {% endblock %}

{% block content %}
<div
  class="min-h-screen p-3 flex items-center justify-center bg-background-200">
  <div
    class="flex flex-col md:flex-row w-full md:w-[900px] rounded-2xl overflow-hidden shadow-2xl bg-background-50">
    <div
      class="hidden md:block md:w-1/2 relative h-[300px] md:h-[600px] overflow-hidden text-white">
      <img
        alt="slide-0"
        class="absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 brightness-50"
        src="{% static 'images/login-illustration1.jpg' %}" />
      <img
        alt="slide-1"
        class="absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 brightness-50"
        src="{% static 'images/login-illustration2.jpg' %}" />
      <img
        alt="slide-2"
        class="absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 brightness-50"
        src="{% static 'images/login-illustration3.jpg' %}" />
      <div class="absolute inset-0 flex flex-col justify-between p-6">
        <div class="flex justify-between">
          <h1 class="text-2xl font-semibold">JoyJunction</h1>
          <a
            class="bg-gray-50 bg-opacity-30 hover:bg-opacity-40 text-sm px-3 py-1 rounded-full transition cursor-pointer" href="/">
            Back to website →
          </a>
        </div>
        <div class="pb-10">
          <p class="text-lg">Welcome Back,</p>
          <p class="text-lg">Let's Capture New Moments</p>
        </div>
      </div>
    </div>
    <div
      class="w-full md:w-1/2 p-6 md:p-10 flex flex-col justify-center text-black">
      <h2 class="text-3xl font-bold mb-2">Log in to your account</h2>
      <p class="text-sm mb-6">
        Don't have an account?
        <a
          class="text-secondary-400 hover:underline"
          href="{% url 'signup' %}"
          data-discover="true"
          >Sign up</a
        >
      </p>
      <form class="flex flex-col gap-4">
        <input
          placeholder="Username"
          class="p-3 bg-background-200 rounded-md border-0 focus:border-secondary-200 focus:ring-1 focus:ring-secondary-300 focus:outline-0"
          type="text" />
        <input
          placeholder="Enter your password"
          class="p-3 bg-background-200 rounded-md border-0 focus:border-secondary-200 focus:ring-1 focus:ring-secondary-300 focus:outline-0"
          type="password" />
        <div class="flex justify-between items-center text-sm mt-1">
          <label class="flex items-center gap-2"
            ><input
              class="text-secondary-400 focus:ring-secondary-200 focus:ring-offset-0 focus:outline-0 focus:border-0"
              type="checkbox" />Remember me</label
          >
          <a
            class="text-secondary-400 hover:underline"
            href="/forgot-password"
            data-discover="true"
            >Forgot password?</a
          >
        </div>
        <button
          type="submit"
          class="bg-primary-600 hover:bg-primary-700 rounded-full text-white font-bold text-xl py-3 transition">
          Login
        </button>
      </form>
    </div>
  </div>
</div>

<script>
  const slides = document.querySelectorAll("div.relative img");
  let currentSlide = 0;

  function showSlide(index) {
    slides.forEach((slide, i) => {
      slide.style.opacity = i === index ? "1" : "0";
    });
  }

  function nextSlide() {
    currentSlide = (currentSlide + 1) % slides.length;
    showSlide(currentSlide);
  }

  showSlide(currentSlide);
  setInterval(nextSlide, 4000);
</script>
{% endblock %}
